{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if is_create %}Neuer Zeiteintrag{% else %}Zeiteintrag bearbeiten{% endif %} - MoneyPlan{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">{% if is_create %}Neuer Zeiteintrag{% else %}Zeiteintrag bearbeiten{% endif %}</h5>
            </div>
            <div class="card-body">
                {% include 'timetracking/_form.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
